    header {
      text-align: center;
      background: url("images/banner.jpg");
      background-size: cover;
      color: white;
    }
    .nav {
      background-color: black;
    }
    li:hover {
      background-color:#ffbf00;
    
    }
    

  
    
